
/*!-------------HEADER------------------*/

@media only screen and (max-width:767.98px) {
    .header-menu {
        display: none;
    }
    .header-info {
        display: none;
    }
    /*.header-navigation {
        display: none;
    }*/
}


@media only screen and (min-width: 768px) {
    .header {
        padding: 0;
    }
    .container {
        max-width: 768px;
    }
    .modal {
        width: 408px;
        min-height: 584px;
    }
    .modal-title {
        width: 360px;
    }
    .checkbox-description a {
        margin-left: 0;
    }
    .mobile-btn-menu {
        display: none;
    }
    .header-logo {
        margin-right: 120px;
    }
    .header-menu {
        margin-right: 120px;
    }
    .header-info-link {
        font-size: 12px;
        line-height: 1.17;
    }
}
/*@media only screen and (min-width: 768px) and (max-width: 1157.98) {
    .header-info-link {
        font-size: 12px;
        line-height: 1.17;
    }
}
 почемуто не подключается*/  

@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
    .header-info {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .header-info-link {
        font-size: 16px;
        line-height: 1.5;
    }
}

/*!------------------MAIN------------------*/

@media only screen and (min-width: 768px) {
    .main-info {
        padding: 112px 136px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

@media only screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .main-info {
         background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-tab_2x.jpg);
    }
} 

    .container {
        max-width: 768px;
    }
    .img-fluid {
        gap: 36px;
    }
    .main-info-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }
}
@media only screen and (min-width: 1158px) {
    .main-info {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

@media only screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .main-info {
         background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office_2x.jpg);
        }
    } 

    .container {
        max-width: 1158px;
    }
    .img-fluid {
        gap: 48px;
        align-items: center;
    }
}





/*!-------------ABOUT------------------*/

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 16px;
        margin: 0 auto;
    }
    .about-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;

    }
    .about-list-item {
        width: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .about {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .container {
        min-width: 1158px;
        width: 100%;
    }
    .about-block {
        display: flex;
        border-radius: 4px;
        border: 1px solid #8E8F98;
        background-color: #F4F4FD;
        padding: 24px 100px;
        margin-bottom: 8px;
        justify-content: center;
        align-items: center;
        height: 112px;
    }
    .about-list {
        flex-wrap: nowrap;
        gap: 24px;
        
    }
    .about-list-item {
        width: calc((100% - 3 * 24px) / 4); 

    }
    .about-subtitle,
    .team-subtitle,
    .products-subtitle {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
    .about-subtitle {
        text-align: start;
    }
    .about-description {
        font-weight: 400;
    }
}


    /*!--------------TEAM---------------------*/


@media only screen and (min-width: 768px) {
    .team {
        padding: 96px 0;
    }
    .team > .container {
        max-width: 552px;
        padding: 0 16px;
        margin: 0 auto;
    }
    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }
    .team-card {
        width: calc((100% - 24px) / 2);
    }
    .team-img {
        width: 100%;
        height: auto;
    }
}
@media only screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }
    .team > .container {
        max-width: 1158px;
    }
    .team-list {
        justify-content: space-between; /* можно gap-column: 24px*/
    }
    .team-card {
        width: calc((100% - 3 * 24px) / 4);
    }
}

/*!------------------PRODUCTS------------------------*/


@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .products-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        width: 100%;
    }
    .products-list-item {
        width: calc((100% - 24px) / 2);
    }
}
@media only screen and (min-width: 1158px) {
    .products {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .products-list {
        gap: 48px 24px;
    }
    .products-list-item {
        width: calc((100% - 48px) / 3);
    }
}

/*!--------------------FOOTER-------------------------*/


@media only screen and (max-width: 767.98px) {
  .footer .footer-block {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .footer .footer-block {
    display: flex;
    padding: 0 108px;
  }
}
@media only screen and (min-width: 768px) {
  .footer .footer-block {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
    .footer .footer-block {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0;
    }
}

@media only screen and (min-width: 768px) {
    .footer {
       padding: 96px 0;
    }
    .container {
        max-width: 768px;
        padding: 0 16px;
        margin: 0 auto;
    }
    .footer-block {
        flex-direction: row;
        align-items: baseline;
    }
    .footer-info {
        width: 264px;
        align-items: flex-start;
        margin-bottom: 0;
    }
    .footer-social {
        padding-bottom: 32px;
        align-items: flex-start;
    }
    .footer-form {
        align-items: flex-start;
    }
    .footer-form-block {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
}
@media only screen and (min-width: 1158px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .footer .container {
        max-width: 1158px;
        padding: 0 16px;
        margin: 0 auto;
    }
    
    .footer-info {
        margin-right: 120px;
        align-items: baseline;
    }
    .footer-description {
        width: 264px;
        font-weight: 400;
    }
    .footer-social {
         margin-right: 80px;
    }
}